AUTH_KEYCLOAK_ADMIN=admin123
AUTH_KEYCLOAK_ADMIN_PASSWORD=secret123
AUTH_KEYCLOAK_HEALTHCHECK_URL=https://hc-ping.com/abc123
AUTH_KEYCLOAK_HOSTNAME_PORT=8123
AUTH_KEYCLOAK_VERSION=latest

AUTH_POSTGRES_DB=abc123
AUTH_POSTGRES_HEALTHCHECK_URL=https://hc-ping.com/abc123
AUTH_POSTGRES_PASSWORD=secret123
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_USER=user123
